<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="menuAdministrador"
     class="cabecera-administrador">

    <header class="barra-superior">

        <div class="bloque-menu-superior">

            <span class="texto-menu-superior">
                MENÚ
            </span>

            <span class="icono-menu-superior">
                ☰
            </span>

        </div>

        <div class="datos-usuario-superior">

            <div class="titulo-sistema-superior">
                CAMPUS VIRTUAL
            </div>

            <div class="nombre-usuario-superior">
                APARICIO Q CAMILA
            </div>

        </div>

    </header>


    <nav class="menu-administrador">

        <button
                class="menu-boton menu-boton-activo"
                type="button">
            Reservas
        </button>

        <button
                class="menu-boton"
                type="button">
            Consultas
        </button>

        <button
                class="menu-boton"
                type="button">
            Reportes
        </button>

    </nav>

</div>

</body>
</html>